.main-panel>.content {
    margin-top: 0px;
    padding: 15px 30px;
    min-height: calc(100vh - 123px);
}

.removed {
    display: none;
}

.top_4 {
    background-color: #4caf50;
}

.top_region {
    background-color: #00bcd4;
}

.extra_region {
    background-color: #ff9800;
}

.sidebar {
    background-color: white !important;
}